@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');

@font-face {
   font-family: 'Gulax';
   src: url('/fonts/Gulax-Regular.woff') format('woff'),
        url('/fonts/Gulax-Regular.woff2') format('woff2'),
        url('/fonts/Gulax-Regular.eot') format('eot');
   font-weight: normal;
   font-style: normal;
 }

 @font-face {
   font-family: 'Compagnon Medium';
   src: url('/fonts/Comp/Compagnon-Medium.eot') format('eot'),
        url('/fonts/Comp/Compagnon-Medium.woff') format('woff'),
        url('/fonts/Comp/Compagnon-Medium.woff2') format('woff2');
   font-weight: medium;
   font-style: medium;
 }

@font-face {
font-family: 'Compagnon Light';
src: url('/fonts/Comp/Compagnon-Light.eot') format('eot'),
       url('/fonts/Comp/Compagnon-Light.woff') format('woff'),
       url('/fonts/Comp/Compagnon-Light.woff2') format('woff2');
font-weight: light;
font-style: light;
}

 

:root {
   --cream: #f6f5f1;
   --black: #353534;

}

a {
   text-decoration: none;
   color: inherit;
}

body {
   background-color: #F4F0EC;
}


.headline {
   text-align: center;
   font-size: 1rem;
   margin: 77px auto;
   max-width: 600px; 
   color: #272520;

   font-family: 'IBM Plex Mono', serif;
   font-optical-sizing: auto;
   font-weight: 400; 
   /* font-style: italic; */
}

.social-media a {
   margin: 0 10px;
   display: inline-block;
}

.social-media img {
   width: 20px;
   height: 20px;
}