.basic-grid {
  display: grid;
  gap: 1rem;

  /* 4 final */
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
}

.grid-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  border-radius: 4px;
  transition: all 500ms;
  overflow: hidden;
}

.basic-grid a {
  display: flex; /* Make the link a flex container */
  justify-content: center; /* Center content horizontally */
  align-items: center;
}

a img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain; /* Ensure the image scales properly */
  display: block;
}