
:root {



  --margin: 20px;
  --pad:7px;

  /* section-0 */
  --height-series: 30vw;
  --width-series: 100%;


}

section {
  margin: 200px auto;
  padding: 0 var(--margin);
}

.media-container {
  padding: var(--pad);
}

.media {
  margin: 0;
  padding: 0;
}

.media img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* SECTION 0 */

#section-0 {
  display: flex;
  align-items: center;
  justify-content: center;
}

#section-0 .media-container {
  max-width: var(--width-series);
}

#section-0 .media-container .media {
  height: var(--height-series);
}

#section-0 .media-container:nth-child(1) {
  width: 32%;
}

#section-0 .media-container:nth-child(2) {
  width: 51%;
}

#section-0 .media-container:nth-child(3) {
  width: auto;
}

/* SECTION H */

#section-hero {
  /* width: 100vw; */
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
  padding-top: 35dvh;
}

#section-hero h2 {
  cursor: default;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
  font-size: clamp(1.5rem, 6.5vw, 8rem);
  font-family: 'Bodoni Moda', serif;
  line-height: 1;
}

#section-hero small, strong {
  display: block;
}
#section-hero small {
  font-size: 0.175em;
  margin-bottom: 15px;
  font-weight: 100;
  text-transform: lowercase;
  font-style: italic;
  font-family: 'IBM Plex Mono', sans-serif;
}

#section-hero span {
  font-size: 0.2em;
  text-transform: uppercase;
  margin-bottom: 15px;
  

}
#section-hero strong {
  font-family: 'IBM Plex Mono';
  font-weight: 400;
  line-height: 0.9;
  font-size: 1em;
  /* letter-spacing: 0.05em; */
  text-transform: uppercase;
}

.text {
  font-family: "EB Garamond", serif;
  font-style: italic;
  font-weight: 0;
  font-size: 1em;
  max-width: 400px;
  text-align: center;

}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

#and {
  
  font-family: 'EB Garamond';
  font-style: italic;
  /* font-optical-sizing: auto; */
  font-size: 1.5em!important;
  margin: 30px auto;
  /* font-weight: 400; */
}

#section-hero img {
  /* height: 1000px; */
  max-height: 1000px;
  object-fit: contain;
  margin-bottom: 50px;
}

/* SECTION CENTERED */

#section-centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#section-centered .media-container:first-child {
  width: 20%;
}

#section-centered .media-container:nth-child(2) {
  width: 61%;
  margin-top: var(--margin);
}

/* SECTION 1 */

#section-1 {
  display: flex;
}

#section-1 .media-container:nth-child(1) {
  width: 59%;
  margin-right: var(--margin);
}
#section-1 .media-container:nth-child(2) {
  width: 33%;
  margin-left: -15px;
}

/* SECTION 2 */

#section-2 {
  height: 100lvh;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

#section-2 .media-container {
  width: 100%;
  max-width: 700px;
}

/* SECTION 5 */

#section-5 {
  display: flex;
  align-items: center;
  justify-content: center;
}

#section-5 .media-container {
  max-width: 20vw;
}

#section-5 .media-container .media {
  height: 30vw;
}

#section-5 .media-container:nth-child(1) {
  width: 50%;
}

#section-5 .media-container:nth-child(2) {
  width: 50%;
}

#section-5 .media-container:nth-child(3) {
  width: 33.333%;
}

#section-4 img {
  /* height: 1000px; */
  max-height: 1000px;
  object-fit: contain;
}

#section-4 {
  margin: 0;
}


@media (max-width: 767px) {
  #section-hero h2 {
    margin-bottom: 50px;
    margin-top: -100px;
  }

  #section-hero small {
    font-size: 0.3em;
    margin-bottom: 7px;
    font-family: 'IBM Plex Mono', serif;
  }
  

  #section-hero strong {
    font-family: 'IBM Plex Mono', sans-serif;
    font-size: 1.5em;
    font-weight: 400;
    line-height: 0.9;
    letter-spacing: -0.05em;
    text-transform: uppercase;
  }

  #section-2 img{
    max-height: 500px;
    object-fit: contain;
    margin-bottom: 30px;
  }

  #section-5 .media-container {
    max-width: 100vw;
  }

  #section-5 .media-container .media {
    height: 50vw;
  }

  /* #section-5 .media-container .media img {
    max-height: 10vw;
  } */

  #section-centered .media-container:first-child {
    width: 40%;
  }
  
  #section-centered .media-container:nth-child(2) {
    width: 100%;
    margin-top: var(--margin);
  }
}

.inquire-button {
  display: block;
  padding: 10px 20px;
  border: 1px solid black;
  text-decoration: none;
  color: black;
  font-family: 'EB Garamond', serif;
  text-transform: uppercase;

  font-size: 16px;
}
.inquire-button:hover {
  background-color: black;
  color: whitesmoke;
}