---
import MainLayout from '../layouts/MainLayout.astro';
import '../styles/basic-grid.css';
import '../styles/about.css';

---

<MainLayout title="Portfolio - Dom">

	<div class="flex-container">
        <div class="pfp">
          <img src="../../../public/media/about.png" alt="A picture of Dominic with a warm/cool contrast color study over his face.">
        </div>
        <div class="blurb">
          <span>Dominic is an </span><span>engineer & designer.</span>
          <p id="blurb-text">
            Currently working on a Master's degree at the Rhode Island School of Design, where he's exploring the intersections of craft and technology. Previously helping deliver helicpoters, ships, and armored vehicles for the US Navy and Marine Corps. If any of the work or thoughts on this site interest you, please do reach out, via whatever channel you like. 
        </p>
        </div>
      </div>

</MainLayout>

