---
import MainLayout from '../layouts/MainLayout.astro';
import '../styles/basic-grid.css';
import '../styles/about.css';
import about from '../media/about.png';

---

<MainLayout title="Portfolio - Dom">

	<div class="flex-container">
        <div class="pfp">
          <img src={about.src} alt="A picture of Dominic with a warm/cool contrast color study over his face.">
        </div>
        <div class="blurb">
          <span>Dom is a </span><span>designer, engineer, and creative technologist exploring the intersections of craft and emerging digital culture.</span>
          <p id="blurb-text">
            Currently working on a Master's degree at the Rhode Island School of Design. Previously building helicpoters and ships. If any of the work or thoughts on this site interest you, please do reach out, via whatever channel you like. 
        </p>

        <p class="status-text">
          <a href="https://drive.google.com/file/d/1jntKY1r28zIzwDetaXiyVlXfAhZCJf2u/view?usp=share_link">Resume</a> / 
          <a href="https://www.linkedin.com/in/dominic-rishe-03501381/">LinkedIn</a> / 
          <a href="https://www.instagram.com/nouveau_rishe/">Instagram</a> / 
          <a href="https://twitter.com/nouveau_rishe">Twitter</a>

        </p>
        </div>
      </div>

</MainLayout>

