---
import MainLayout from '../layouts/MainLayout.astro';
import '../styles/basic-grid-furniture.css';
import '../styles/base-furniture.css';
import {Picture} from "@astrojs/image/components";


// imports all files in `../media-furn/`
// const furn = await Astro.glob('../media-furn/*').then(files => {return files.map(file => file.default);}); 
// const dd = await Astro.glob('../media/Projects/daydream*').then(files => {return files.map(file => file.default);}); 
// const gp = await Astro.glob('../media/Projects/ganpaign*').then(files => {return files.map(file => file.default);}); 
// const van = await Astro.glob('../media/Projects/vanity*').then(files => {return files.map(file => file.default);}); 


const [furn, dd, gp, van] = await Promise.all([
  Astro.glob('../media-furn/*'),
  Astro.glob('../media/Projects/daydream/*'),
  Astro.glob('../media/Projects/ganpaign/*'),
  Astro.glob('../media/Projects/vanity/*')
]);

const images = [

  ...dd.map(file => file.default),
  ...gp.map(file => file.default),
  ...van.map(file => file.default),
  ...furn.map(file => file.default)
];

---

<MainLayout title="Portfolio - Dom">

	<body>
		<section class="basic-grid">

			{images.map((image) => (
				<div class="card">
				
				<Picture src={image} widths={[400, 800]} sizes="(max-width: 800px) 100vw, 800px" formats={['avif', 'jpeg', 'png', 'webp']} alt="Furniture item" class="card-img" />

				</div>
			))}
			
			<!-- <div class="card">
				<img class="card-img" id="img1" style="object-fit: cover" src="../../../public/media/dd_1_thumb.png">
			</div>

			<div class="card">
				<img class="card-img" id="img1" src="../../../public/media/dd_2.jpg">
			</div>

			<div class="card">
				<img class="card-img" id="img1" src="../../../public/media/dd_3.jpg">
			</div>

			<div class="card">
				<img class="card-img" id="img1" src="../../../public/media/dd_4.jpg">
			</div>

			<div class="card">
				<img class="card-img" id="img1" src="../../../public/media/dd_5.jpeg">
			</div>

			<div class="card">
				<img class="card-img" id="img1" src="../../../public/media/dd_6.jpeg">
			</div>

			<div class="card">
				<img class="card-img" id="img1" src="../../../public/media/dd_7.jpeg">
			</div>

			<div class="card">
				<img class="card-img" id="img1" src="../../../public/media/dd_8.jpeg">
			</div>

			<div class="card">
				<img class="card-img" id="img1" src="../../../public/media-furn/dd_10.png">
			</div>

			<div class="card">
				<img class="card-img" id="img1" src="../../../public/media-furn/dd_11.png">
			</div>

			<div class="card">
				<img class="card-img" id="img1" src="../../../public/media-furn/dd_12.png">
			</div>

			<div class="card">
				<img class="card-img" id="img1" src="../../../public/media/gp_1.jpg">
			</div>

			<div class="card">
				<img class="card-img" id="img1" src="../../../public/media/gp_2.jpg">
			</div>

			<div class="card">
				<img class="card-img" id="img1" src="../../../public/media/gp_3.jpg">
			</div>

			<div class="card">
				<img class="card-img" id="img1" src="../../../public/media/gp_4.jpg">
			</div>

			<div class="card">
				<img class="card-img" id="img1" src="../../../public/media/gp_5.jpeg">
			</div>

			<div class="card">
				<img class="card-img" id="img1" src="../../../public/media/gp_6.jpg">
			</div>

			<div class="card">
				<img class="card-img" id="img1" src="../../../public/media/gp_7.jpeg">
			</div>

			<div class="card">
				<img class="card-img" id="img1" src="../../../public/media-furn/18.png">
			</div>

			<div class="card">
				<img class="card-img" id="img1" src="../../../public/media-furn/20.png">
			</div>

			<div class="card">
				<img class="card-img" id="img1" src="../../../public/media/v_1.png">
			</div>

			<div class="card">
				<img class="card-img" id="img1" src="../../../public/media/v_2.jpeg">
			</div>

			<div class="card">
				<img class="card-img" id="img1" src="../../../public/media/v_3.jpeg">
			</div>

			<div class="card">
				<img class="card-img" id="img1" src="../../../public/media/v_4.jpeg">
			</div>

			<div class="card">
				<img class="card-img" id="img1" src="../../../public/media-furn/IMG_2827.jpeg">
			</div>

			<div class="card">
				<img class="card-img" id="img1" src="../../../public/media-furn/IMG_2829.jpeg">
			</div>

			<div class="card">
				<img class="card-img" id="img1" src="../../../public/media-furn/IMG_2830.jpeg">
			</div>

			<div class="card">
				<img class="card-img" id="img1" src="../../../public/media-furn/IMG_2862.jpeg">
			</div>

			<div class="card">
				<img class="card-img" id="img1" src="../../../public/media-furn/IMG_2877.jpeg">
			</div>

			<div class="card">
				<img class="card-img" id="img1" src="../../../public/media-furn/IMG_4961.jpeg">
			</div>

			<div class="card">
				<img class="card-img" id="img1" src="../../../public/media-furn/IMG_4973.jpeg">
			</div>
			<div class="card">
				<img class="card-img" id="img1" src="../../../public/media-furn/2 (12).png">
			</div>

			<div class="card">
				<img class="card-img" id="img1" src="../../../public/media-furn/1 (14).png">
			</div>

			<div class="card">
				<img class="card-img" id="img1" src="../../../public/media-furn/IMG_5238.jpeg">
			</div>

			<div class="card">
				<img class="card-img" id="img1" src="../../../public/media-furn/IMG_5239.jpeg">
			</div>

			<div class="card">
				<img class="card-img" id="img1" src="../../../public/media-furn/IMG_5240.jpeg">
			</div>

			<div class="card">
				<img class="card-img" id="img1" src="../../../public/media-furn/IMG_5241.jpeg">
			</div>

			<div class="card">
				<img class="card-img" id="img1" src="../../../public/media-furn/IMG_5242.jpeg">
			</div>

			<div class="card">
				<img class="card-img" id="img1" src="../../../public/media-furn/IMG_5348.jpeg">
			</div>

			<div class="card">
				<img class="card-img" id="img1" src="../../../public/media-furn/deck.png">
			</div>

			<div class="card">
				<img class="card-img" id="img1" src="../../../public/media-furn/1 (15).png">
			</div>

			<div class="card">
				<img class="card-img" id="img1" src="../../../public/media-furn/1 (16).png">
			</div>

			<div class="card">
				<img class="card-img" id="img1" src="../../../public/media-furn/2 (13).png">
			</div>

			<div class="card">
				<img class="card-img" id="img1" src="../../../public/media-furn/1 (17).png">
			</div>

			<div class="card">
				<img class="card-img" id="img1" src="../../../public/media-furn/kitchen.png">
			</div>

			<div class="card">
				<img class="card-img" id="img1" src="../../../public/media-furn/frame.png">
			</div> -->

		</section>
	
	
	
	</body>

</MainLayout>

