---
import MainLayout from '../layouts/MainLayout.astro';
import '../styles/basic-grid.css';
import '../styles/garden.css';
---

<MainLayout title="Portfolio - Dom">

	<body>
	
	 <div class="garden-blurb">
		
		<img id="myrisd" src="../../../public/media/tractor.png">
		<p class="status">Out sowing... </p>
		<p class="status-text">For now, check out the:</p>
		<p>
		<!-- <a href="#" class="status-text">Compost pile</a>
		<span class="status-text">/</span> -->
		<a href="../furniture/" class="status-text">Furniture patch</a>
		</p>
	 </div>
	
	</body>

</MainLayout>

