---
import MainLayout from '../layouts/MainLayout.astro';
import '../styles/basic-grid.css';
import '../styles/garden.css';
---

<MainLayout title="Portfolio - Dom">

	<body>
	
	 <div class="garden-blurb">
		
		<img id="myrisd" src="../../../public/media/stand.png">
		<p class="status">Setting up shop... </p>
		<p class="status-text">Working on a few designs that I plan to release here and sell directly to whomever may be interested. For now, if you'd like me to build you something, reach out.</p>

	 </div>
	
	</body>

</MainLayout>

