---
import MainLayout from '../layouts/MainLayout.astro';
import '../styles/basic-grid.css';
---

<MainLayout title="Portfolio - Dom">

	<body>
		<section class="basic-grid">
			<a href="../projects/daydream/">
			<div class="card">
				<img class="card-img" id="img1" src="../../../public/media/dd_1_thumb.png">
				<footer class="card-foot">
					<p class="label">CHAIR(DAYDREAM)</p>
					<p class="slug">SP2022</p>
				</footer>
			</div>
			</a>
			<a href="../projects/lepta/">
				<div class="card">
					<img class="card-img" id="img1" src="../../../media/lepta_thumb.png">
					<footer class="card-foot">
						<p class="label">LEPTA PROTOCOL</p>
						<p class="slug">SP2023</p>
					</footer>
				</div>
				</a>
			<a href="../projects/ganpaign/">
			<div id="test_card" class="card">
				<img id="img2" src="../../../public/media/gp_1_thumb.png">
				<footer class="card-foot">
					<p class="label">{'{'}GAN{'}'}PAIGN CHAIR</p>
					<p class="slug">SU2022</p>
				</footer>
			</div> 
			</a>
			<a href="../projects/weather/">
				<div id="test_card" class="card">
					<img id="myrisd" src="../../../public/media/w_5.gif">
					<footer class="card-foot">
						<p class="label">NOAA NWS</p>
						<p class="slug">WI2023</p>
					</footer>
				</div>
				</a>
			<a href="../projects/experiments/">
			<div id="test_card" class="card">
				<img id="img3" src="../../../public/media/ex_1_thumb.png">
				<footer class="card-foot">
					<p class="label">FORM EXPERIMENTS</p>
					<p class="slug">ONGOING</p>
				</footer>
			</div>
			</a>
			<a href="../projects/myrisd/">
				<div id="test_card" class="card">
					<img id="myrisd" src="../../../public/media/myRISD_1_thumb.png">
					<footer class="card-foot">
						<p class="label">MyRISD</p>
						<p class="slug">WI2023</p>
					</footer>
				</div>
				</a>
			<a href="../projects/vanity/">
			<div id="test_card" class="card">
				<img id="img4" src="../../../public/media/v_1_thumb.png">
				<footer class="card-foot">
					<p class="label">AMBROSIA VANITY</p>
					<p class="slug">SU2021</p>
				</footer>
			</div>
			</a>
		</section>
	
	
	
	</body>

</MainLayout>

