---
import ProjectLayout from "../../layouts/ProjectLayout.astro";
const images = await Astro.glob('../../media/Projects/cabbage/*').then(files => {return files.map(file => file.default);}); 

---

<ProjectLayout title="BIO-PLASTIC">


    <div class="gallery" slot="gallery">
        <div class="container">
            <a href="#img1">
                <img src={images[0].src} alt="portfolio item" id="expandedImg" />
            </a>
            <div id="imgtext"></div>
        </div>
        <div class="row">

        {images.map((image) => (
            <div class="column">
                <img src={image.src} alt="portfolio item" class="thumb" style="width:100%" />
            </div>
        ))}

        </div>
    </div>
        
    

    <div
    id="lightboximg"
    style={{ backgroundImage: `url(${images[0].src})` }};
    slot="lightboximg"
    >
    </div>




    
    <div class="description-wrap" slot="product-text">
        <div class="product-title">
            <p>BIO-PLASTIC EXPERIMENTS</p>
        </div>
        <div class="product-details">
            <span>WHAT</span>
            <p>
                A series of experiments with gelatin/glycerin/starch bio-plastic, exploring natural dyes and layering different stiffness ratios to influence final structure.
            </p>
            <span class="why">WHY</span>
            <p>
                Most bio-plastic experimentation at this point remains 2-dimensional and colorless.
            </p>
            <span class="how">HOW</span>
        
                <p>Red cabbage was processed and reduced into a base pigment, and then the pH was adjusted to obtain a surprising array of colors, from greens and blues to violets and red-violets.</p>
                <p>Additionally, different ratios of the bioplastic ingredients were used to yield plastics of differing stiffness. Stiffer mixtures were patterned on top of a more flexible layer to influence the warping that naturally occurs as the plastic dries.</p>

            
            
        </div>
    </div>
</ProjectLayout>
