---
import ProjectLayout from "../../layouts/ProjectLayout.astro";
const images = await Astro.glob('../../media/Projects/daydream/*').then(files => {return files.map(file => file.default);}); 
---

<ProjectLayout title="DAYDREAM CHAIR">


    <div class="gallery" slot="gallery">
        <div class="container">
            <a href="#img1">
                <img src={images[0].src} alt="portfolio item" id="expandedImg" />
            </a>
            <div id="imgtext"></div>
        </div>
        <div class="row">

        {images.map((image) => (
            <div class="column">
                <img src={image.src} alt="portfolio item" class="thumb" style="width:100%" />
            </div>
        ))}

        </div>
    </div>
        
    

    <div
    id="lightboximg"
    style={{ backgroundImage: `url(${images[0].src})` }};
    slot="lightboximg"
    >
    </div>


    
    <div class="description-wrap" slot="product-text">
        <div class="product-title">
            <p>DAYDREAM CHAIR</p>
        </div>
        <div class="product-details">
            <span>WHAT</span>
            <p>
                A stool, suitable for working at a high desk, becomes a
                lounge chair when the orientation of the two pieces is flipped.
            </p>
            <span class="why">WHY</span>
            <p>
                Most chairs designed for desks optimize around a shallow
                understanding of human labor, at the expense of an essential
                aspect of our experience, and something that's vital to the creative process - leisure.
            </p>
            <span class="how">HOW</span>
            <p>
                Each stave is 14 layers of bent, laminated white oak. Brass
                rods key the two halves together. Finished with a blend
                of flax oil and beeswax.
            </p>
        </div>
    </div>
</ProjectLayout>
