---
import ProjectLayout from "../../layouts/ProjectLayout.astro";
const images = await Astro.glob('../../media/Projects/experiments/*').then(files => {return files.map(file => file.default);}); 

---

<ProjectLayout title="FORM EXPERIMENTS">


    <div class="gallery" slot="gallery">
        <div class="container">
            <a href="#img1">
                <img src={images[0].src} alt="portfolio item" id="expandedImg" />
            </a>
            <div id="imgtext"></div>
        </div>
        <div class="row">

        {images.map((image) => (
            <div class="column">
                <img src={image.src} alt="portfolio item" class="thumb" style="width:100%" />
            </div>
        ))}

        </div>
    </div>
        
    

    <div
    id="lightboximg"
    style={{ backgroundImage: `url(${images[0].src})` }};
    slot="lightboximg"
    >
    </div>




    
    <div class="description-wrap" slot="product-text">
        <div class="product-title">
            <p>FORM EXPERIMENTS</p>
        </div>
        <div class="product-details">
            <span>WHAT</span>
            <p>
                A place to collect some of the more successful form explorations from a variety of projects.
            </p>
            <span class="why">WHY</span>
            <p>
                Documenting small successes and interesting aesthetic tangents with the hope that they influence future work, and providing a bar to reach for when prototyping and experimenting, even in undefined contexts.
            </p>
            <span class="how">HOW</span>
        
                <p>1 * XPS foam</p>
                <p>2 * XPS foam, finished and painted</p>
                <p>3 * bent copper, artificially corroded</p>
                <p>4 * bent laminated chipboard</p>
            
        </div>
    </div>
</ProjectLayout>
