---
import ProjectLayout from "../../layouts/ProjectLayout.astro";
const images = await Astro.glob('../../media/Projects/ganpaign/*').then(files => {return files.map(file => file.default);}); 
---

<ProjectLayout title="{GAN}PAIGN CHAIR">

    <div class="gallery" slot="gallery">
        <div class="container">
            <a href="#img1">
                <img src={images[0].src} alt="portfolio item" id="expandedImg" />
            </a>
            <div id="imgtext"></div>
        </div>
        <div class="row">

        {images.map((image) => (
            <div class="column">
                <img src={image.src} alt="portfolio item" class="thumb" style="width:100%" />
            </div>
        ))}

        </div>
    </div>
        
    

    <div
    id="lightboximg"
    style={{ backgroundImage: `url(${images[0].src})` }};
    slot="lightboximg"
    >
    </div>


    
    
    <div class="description-wrap" slot="product-text">
        <div class="product-title">
            <p>{'{'}GAN{'}'}PAIGN CHAIR</p>
        </div>
        <div class="product-details">
            <span>WHAT</span>
            <p>
                A take on a traditional Campaign Chair, with fabric designed by a Generative Adversarial Network (GAN).
            </p>
            <span class="why">WHY</span>
            <p>
                A desire to juxtapose tradition and craft with technology.
            </p>
            <span class="how">HOW</span>
            <p>
                The GAN was trained on a custom dataset that was the result of a month-long exploration into traditional Scandinavian and Nordic pattern-making. Once trained, the latent space was explored extensively, and 81 of the most figurative and intriguing outputs were selected and arranged. The resulting pattern was Jacquard-woven into upholstery fabric, and accented with hand-embroidery and decorative stitching. 
            </p>
            <p>
                The frame of the chair is turned white oak, finished with soap.
            </p>
        </div>
    </div>
</ProjectLayout>
