---
import ProjectLayout from "../../layouts/ProjectLayout.astro";
---

<ProjectLayout title="MyRISD">


    <div class="gallery" slot="gallery">
        <div class="container">
            <!-- <span onclick="this.parentElement.style.display='none'" class="closebtn">&times;</span> -->
            <a href="#img1">
                <img
                    src="../../../public/media/myRISD.gif"
                    id="expandedImg"
                />
            </a>
            <div id="imgtext"></div>
        </div>
    
        <!-- <div class="row">
            <div class="column">
                <img
                    src="../../../public/media/v_1.png"
                    alt=""
                    style="width:100%"
                    class="thumb"
                />
            </div>
            <div class="column">
                <img
                    src="../../../public/media/v_2.jpeg"
                    alt=""
                    style="width:100%"
                    class="thumb"
                />
            </div>
            <div class="column">
                <img
                    src="../../../public/media/v_3.jpeg"
                    alt=""
                    style="width:100%"
                    class="thumb"
                />
            </div>
            <div class="column">
                <img
                    src="../../../public/media/v_4.jpeg"
                    alt=""
                    style="width:100%"
                    class="thumb"
                />
            </div>
 
        </div> -->
    </div>
        
    <div
    id="lightboximg"
    style="background-image: url('../../../public/media/myRISD.gif')"
    slot="lightboximg"
    >
    </div>




    
    <div class="description-wrap" slot="product-text">
        <div class="product-title">
            <p>MyRISD</p>
        </div>
        <div class="product-details">
            <span>WHAT</span>
            <p>
                A re-design of the university's app for everything.
            </p>
            <span class="why">WHY</span>
            <p>
                The app's design has long fallen out of date with the school's brand and also become bloated with broken external links and navigation that was far from intuitive. 
            </p>
            <span class="how">HOW</span>
            <p>
                A slew of testing and user interviews led to some clear findings about what features of the app were rarely used. The new design focuses on the core functions and keeps the excess out of the normal flow of the app.
            </p>
        </div>
    </div>
</ProjectLayout>
