---
import ProjectLayout from "../../layouts/ProjectLayout.astro";
const images = await Astro.glob('../../media/Projects/vanity/*').then(files => {return files.map(file => file.default);}); 
---

<ProjectLayout title="VANITY">


    <div class="gallery" slot="gallery">
        <div class="container">
            <a href="#img1">
                <img src={images[0].src} alt="portfolio item" id="expandedImg" />
            </a>
            <div id="imgtext"></div>
        </div>
        <div class="row">

        {images.map((image) => (
            <div class="column">
                <img src={image.src} alt="portfolio item" class="thumb" style="width:100%" />
            </div>
        ))}

        </div>
    </div>
        
    

    <div
    id="lightboximg"
    style={{ backgroundImage: `url(${images[0].src})` }};
    slot="lightboximg"
    >
    </div>




    
    <div class="description-wrap" slot="product-text">
        <div class="product-title">
            <p>AMBROSIA VANITY</p>
        </div>
        <div class="product-details">
            <span>WHAT</span>
            <p>
                A spot to wash up.
            </p>
            <span class="why">WHY</span>
            <p>
                To tie the bow on a complete master bathroom remodel.
            </p>
            <span class="how">HOW</span>
            <p>
                Ambrosia maple, mortise-and-tenon case, dovetailed drawer, brass knife hinges, hand-thrown ceramic sink. All joinery hand-cut. 
            </p>
        </div>
    </div>
</ProjectLayout>
