---
import ProjectLayout from "../../layouts/ProjectLayout.astro";
const images = await Astro.glob('../../media/Projects/weather/*').then(files => {return files.map(file => file.default);}); 

---

<ProjectLayout title="WEATHER">


    <div class="gallery" slot="gallery">
        <div class="container">
            <a href="#img1">
                <img src={images[0].src} alt="portfolio item" id="expandedImg" />
            </a>
            <div id="imgtext"></div>
        </div>
        <div class="row">

        {images.map((image) => (
            <div class="column">
                <img src={image.src} alt="portfolio item" class="thumb" style="width:100%" />
            </div>
        ))}

        </div>
    </div>
        
    

    <div
    id="lightboximg"
    style={{ backgroundImage: `url(${images[0].src})` }};
    slot="lightboximg"
    >
    </div>




    
    <div class="description-wrap" slot="product-text">
        <div class="product-title">
            <p>NOAA NWS LOCAL WEATHER</p>
        </div>
        <div class="product-details">
            <span>WHAT</span>
            <p>
                A re-design of the NOAA National Weather Service page.
            </p>
            <span class="why">WHY</span>
            <p>
                As an incredibly rich - and taxpayer-funded - source of weather data, NOAA's site deserves to be more widely used as people's daily go-to weather-checking site.
            </p>
            <span class="how">HOW</span>
            <p>
                Interface: Weather pictures meant to correspond to the users' local conditions were pulled from NOAA's impressive image database. The images were then used to generate color palettes with a light and dark mode for all UI elements. Clean lines, crowd-pleasing type leave you no excuse not to use this as your daily weather page.
            </p>
            <p>
                Experience: To cut down on the overwhelming amount of data and options on the original page, a choice between "simple" and "detailed" view was added. In "detailed" view, a scroll box houses one of the NWS's most valuable yet overlooked features: a narrative evaluation of your local weather conditions by an NWS expert, updated in real time, multiple times a day. 
            </p>
        </div>
    </div>
</ProjectLayout>
