---
export interface Props {
	title: string;
}

import "../styles/base.css";


import ig from '../media/Instagram_Glyph_Black.svg';
import fc from '../media/fc_logo.svg';
import x from '../media/x.png';
import li from '../media/li.svg';
import zora from '../media/zorb.png';


const { title } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>

		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Unbounded:wght@300;500&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

		<link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap" rel="stylesheet">

		<link href="https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Fustat:wght@200..800&display=swap" rel="stylesheet">

	</head>
	<body>

		<slot />

		<div class="headline">
			<p style="margin-bottom: 20px; margin-top:200px;">
				CONNECT
			</p>

			<div class="social-media">
				<a href="https://www.linkedin.com/in/dominic-rishe-03501381/" target="_blank">
					<img src={li.src} alt="LinkedIn">
				</a>
				<a href="https://www.instagram.com/nouveau_rishe" target="_blank">
					<img src={ig.src} alt="Instagram">
				</a>
			</div>
  </div>
	</body>

</html>